<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="br.com.dtmtec.ionic-template" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ionic-starter-app</name>
  <description>
    A cordova/ionic template with the main cordova plugins and ionic features ready to use
  </description>
  <author email="email@dtmtec.com.br" href="http://dtmtec.com.br/">
    DTM
  </author>
  <content src="dist/index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
